@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
html, body {
  height: 100%;
}

body {
  margin: 0;
  background: url(../images/background.jpg) ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  overflow: hidden;
}

.userlog {
 position: absolute;
    top:40px;
    right: 80px;	
}




.imglog {
 position: absolute;
    top: 40px;
    right: 30px;	
}


.selector {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 140px;
  height: 140px;
  margin-top: -70px;
  margin-left: -70px;
}

.selector, .selector button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.selector button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: #428bca;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  transition: all .1s;
}

.selector button:hover {
  background: #3071a9;
}

.selector button:focus {
  outline: none;
}

.selector ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
}


.selector li {
  position: absolute;
  width: 0;
  height: 100%;
  margin: 0 50%;
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
  transition: all 0.8s ease-in-out;
}

.selector li input {
  display: none;
}

.selector li input + label {
  position: absolute;
  left: 50%;
  bottom: 100%;
  width: 0;
  height: 0;
  line-height: 1px;
  margin-left: 0;
  background: rgb(190, 223, 253);
  border-radius: 50%;
  text-align: center;
  font-size: 1px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: none;
  transition: all 1.0s ease-in-out, color 0.1s, background 0.1s;
}

.selector li input + label:hover {
  background: rgb(132, 192, 248);
}

.selector li input:checked + label {
  background: rgb(0, 162, 255);
  color: white;
}

.selector li input:checked + label:hover {
  background: rgb(0, 140, 255);
}

.selector.open li input + label {
  width: 80px;
  height: 80px;
  line-height: 80px;
  margin-left: -40px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  font-size: 14px;
}

.flash {
  animation-name: flash;
   animation-duration: 2.0s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-play-state: running;
}

@keyframes flash {
   from {color: rgb(255, 238, 0);}
   to {color: rgba(247, 29, 29, 0.788);}
}

.pointer {cursor: pointer;}

/********************* Animation Titre ********************************/

.title-sim {
  font-family: sans-serif;
  font-size:3.4em ;
  line-height: .8;
   z-index: -1;
  top: 100px;
  text-shadow: 2px 2px rgb(0, 110, 255);
}




.title-gallery {
  font-family: sans-serif;
  font-size:3em ;
  line-height: .2;
  text-shadow: 2px 2px rgb(255, 0, 0);
  position: fixed;
  left: 50%;
  z-index: -1;
  bottom: 110px;
  transform: translate(-50%, -50%);
  margin: 0 auto;  
}

.title-slogan {
  font-family: sans-serif;
  font-size:2.5em ;
  line-height: .2;
  text-shadow: 2px 2px rgb(255, 0, 0);
  position: fixed;
   z-index: -1;
  left: 50%;
  top: 120px;
  transform: translate(-50%, -50%);
  margin: 0 auto;  
}


.title-info {
  font-family: sans-serif;
  font-size:1.1em ;
  line-height: 1.1;
  text-shadow: 1px 1px rgb(255, 0, 0);
}

#info {
 position: absolute;
    bottom: 280px;
    right: 165px;
  margin: 0 auto;  
}

#info-runway {
 position: absolute;
    bottom: 295px;
    left: 215px;
  margin: 0 auto;  
}

.button {
  border: 1px solid #333;
  background: #6479fd;
}

.iframe.none {border-style: none;} 

div.navigation {
  position: fixed;
  left: 50%;
  bottom: -50px;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}



body {
  font-family: sans-serif;
  margin: 10px;
}

#entete {
  animation: move 3s;
  -webkit-animation: move 3s;
}
/*
#items{
  animation: move 3s;
  -webkit-animation: move 3s;
}
*/

@keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
            
@-webkit-keyframes move {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/***************************************** login  *********************************/

body {font-family: Arial, Helvetica, sans-serif;}

#loginform {
	left: 108px;
	top: -6px;
	
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 0 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 100;
    width: 100%; /* Full width */
    height: 60%; /* Full height */
    /* overflow: auto; Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: -25px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}



